@import '~antd/dist/antd.css';

* {
    box-sizing: border-box;
}
pre {
    margin: 0;
    padding: 0;
}

.ant-row {
    margin: 0 !important;
}

.weather_image {
    width: 50px;
    height: 50px;
}

.header__title {
    color: #f0f2f5;
}

.sider {
    background: #f2f2f2;
    width: 300px !important;
    max-width: 300px !important;
    flex-basis: auto !important;
}

.form {
    padding: 8px;
}

.submitBtn {
    margin-top: 8px;
}

.clouds_wind {
    display: flex;
    gap: 20px;
}

.weather_card {
    margin-top: 8px;
}

.main {
    min-height: calc(100vh - 64px);
}

.temperature__main {
    font-weight: bold;
    display: block;
    font-size: 16px;
    min-width: 165px;
}

.temperature__feels_like {
    font-weight: 300;
    margin-left: 10px;
    font-size: 12px;
}

.temperature {
    display: flex;
    align-items: flex-end;
}

.content {
    padding-right: 8px;
    padding-bottom: 8px;
}

.header {
    padding: 0 10px;
}

.from__title {
    margin-left: 8px;
    font-weight: bold;
    font-size: 16px;
}

.ant-tabs-nav {
    margin: 16px 0 0 0 !important;
}

.ant-card-body {
    padding-top: 0px;
}

@media screen and (max-width: 720px) {
    .content {
        width: 100% !important;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .submitBtn {
        margin-left: -10px;
    }
    .main {
        flex-direction: column !important;
    }
    .sider {
        padding-bottom: 20px;
        width: 97% !important;
        max-width: 97% !important;
    }
    .ant-form-item-label {
        flex-basis: 100px !important;
    }
    .ant-form-item-control {
        flex: 0 0 auto !important;
    }
}
